    ::-webkit-scrollbar {
        width: 6px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgb(34, 34, 34);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: white;
    }
    
    div.tooltip {
        position: absolute;
        text-align: center;
        width: 200px;
        height: 20px;
        padding: 2px;
/*        font: 12px sans-serif;*/
        background: rgb(34,34,34);
        border: 1px;
        border-style: solid;
        border-color: #444 #444;
/*        border-radius: 8px;*/
        pointer-events: none;
    }
    
    #btnSearch {
        text-align: right;
        display: none;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    .imgHL {
        /*        margin-left: 3.5%;*/
        width: 47%;
        opacity: .85;
        /*        position: inline-block;*/
        float: left;
    }
    
    .imgHR {
        /*        margin-right: 4.5%;*/
        width: 47%;
        opacity: .85;
        padding-right: 4%;
        /*        position: inline-block;*/
        float: right;
    }
    
    .imgHR:hover,
    .imgHL:hover {
        opacity: 1;
    }
    
    .pageLoad {
        text-align: center;
        /*        margin-left: -2%;*/
        position: inline-block;
        float: left;
    }
    
    .text_over_imageL {
        position: inline-block;
        text-align: center;
        clear: left;
        margin: 1%;
        width: 100%;
    }
    
    .text_over_imageR {
        position: inline-block;
        text-align: center;
        clear: right;
        margin: 1%;
        width: 100%;
    }
    
    #clearer {
        position: relative;
        clear: both;
    }
    
    .graytext {
        color: gray;
        font-size: 15px;
    }
    
    .sb {
        text-align: left;
        background: #111111;
        font-size: 12px;
        opacity: 1;
        font-family: 'Raleway', sans-serif;
    }
    
    body {
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        background-color: #f9f9f9;
        background-color: rgb(34, 34, 34);
        /*        background-color: black;*/
        color: #f9f9f9;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 100;
        line-height: 20px;
    }
    
    .titleDiv {
        padding-top: 20px;
        padding-left: 20px;
        /*        margin-top:20px;*/
        /*        margin-left:10px;*/
        width: 100%;
        height: 5.5%;
        background: #111111;
        position: fixed;
        top: 0px;
        z-index: 2;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
    }
    
    .title {
        font-size: 26px;
        color: gray;
        vertical-align: middle;
        line-height: 10px;
        font-weight: 100;
    }
    
    b {
        font-weight: 100;
    }
    
    .container {
        z-index: 1;
        margin-top: 75px;
        width: 100%;
        height: 100%;
        /*        background: red;*/
        /*        position: fixed;*/
    }
    
    .left-element {
        /*        resize:horizontal;*/
        white-space: nowrap;
        margin-top: 0.3%;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        left: 0;
        width: 22%;
        background: rgb(34, 34, 34);
        border-right: 1px solid rgb(84, 84, 84);
    }
    
    .right-element {
        left: 24%;
        padding-top: 24px;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        width: 76%;
        margin-left: 1%;
        /*        background: red;*/
        /*        display: inline-block;*/
        /*        position: fixed;*/
        /*        background: rgb(34,34,34);*/
        /*        padding-right:10%;*/
        /*        right:10%;*/
        /*        right: 100px;*/
    }
    
    div.left-element {
        height: 92.3%;
        /*        width: 40em;*/
        overflow: hidden;
    }
    
    div.left-element:hover {
        overflow: auto;
    }
    
    div.right-element {
        width: 75%;
        /*        margin-right:55%;*/
        height: 92%;
        overflow: scroll;
    }
    
    div.right-element:hover {
        /*        overflow: s;*/
    }
    
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        /*        margin-right:5%;*/
        padding: 0;
    }
    
    span {
        position: relative;
    }
    
    .outer {
        padding-right: 2%;
    }
    
    .imageTiles {
        /*        display:inline-block;*/
        vertical-align: middle;
        /*        padding-right:*/
        /*        padding-right: 15%;*/
        /*        padding-bottom: 4%;*/
        /*        padding-left:20%;*/
        /*        left: 50px;*/
        /*        margin-left: 20px;*/
    }
    
    .im:hover {
        cursor: pointer;
    }
    
    .nodeName {
        /*        margin-left: 20px;*/
        /*        margin-right: 50px;*/
        margin-top: 20px;
        font-size: 28px;
        font-weight: 100;
        padding-right: 4%;
    }
    
    .nodeDesc,
    .nodeHier,
    .nodeGroup,
    .nodeIn,
    .nodeOut,
    .exampleFile,
    .inDepth {
        /*        margin-left: 20px;*/
        line-height: 25px;
        font-size: 15px;
        font-weight: 100;
        padding-right: 4%;
        /*        padding-right: 4%;*/
    }
    
    .ins,
    .outs {
        /*        margin-left: 20px;*/
        font-size: 15px;
        padding-right: 4%;
    }
    
    .seeAlso {
        /*        margin-left: 20px;*/
        font-size: 15px;
        padding-right: 4%;
        /*    padding-top:25%;*/
    }
    
    u {
        text-decoration: none;
        border-bottom: 50px solid black;
    }
    
    .middle > * {
        vertical-align: middle;
    }
    
    icons {
        vertical-align: middle;
    }
    
    button.accordion,
    button.accordionM {
        display: inline;
        cursor: pointer;
        padding: 0px;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.3s ease-in-out;
    }
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    
    .button1,
    .button0 {
        background-color: rgb(34, 34, 34);
        color: white;
    }
    
    .button1.active,
    .button0.active {
        background-color: rgb(74, 74, 74);
    }
    
    .button1:hover,
    .button0:hover {
        background-color: rgb(114, 114, 114);
    }
    
    .button2 {
        background-color: rgb(140, 140, 140);
        color: rgb(34, 34, 34);
    }
    
    .button2.active {
        background-color: rgb(170, 170, 170);
    }
    
    .button2:hover {
        background-color: rgb(200, 200, 200);
    }
    
    .button3 {
        background-color: rgb(210, 210, 210);
        color: rgb(34, 34, 34);
    }
    
    .button3.active {
        background-color: rgb(240, 240, 240);
    }
    
    .button3:hover {
        background-color: rgb(255, 255, 255);
    }
    
    .button4 {
        background-color: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
    }
    
    .button4.active {
        background-color: rgb(230, 230, 230);
    }
    
    .button4:hover {
        background-color: rgb(210, 210, 210);
    }
    
    .button5 {
        background-color: #666;
    }
    
    .button5.active {
        background-color: rgb(150, 150, 150);
    }
    
    .button5:hover {
        background-color: #D0D0D0;
    }
    
    button.accordion:after {
        font-size: 6px;
        color: #fff;
        float: right;
        margin-left: 5px;
        z-index: 10;
    }
    
    button.accordion.active:after {}
    
    #load {
        display: none;
    }
    
    #wait {
        background-color: #222;
        width: 100%;
        height: 100%;
        margin-top: 4.5%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding-left: 4.5%;
        padding-top: 15%;
        opacity: 0.85;
        font-size: 30px;
        line-height: 0px;
    }
    
    div.panel {
        padding: 0 0px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    
    div.panel.show {
        opacity: 1;
        max-height: 2500px;
        /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    }
    
    #title {
        margin-right: 20%;
        display: inline-block;
        margin-top: 0.5%;
        color: gray;
    }
    
    #searchBar {
        float: left;
        margin-right: 3%;
    }
    
    input#searchBox {
        margin-left: 15px;
        background: #ffffff;
        border: 1px solid #555555;
        border-radius: 10px;
        color: #555555;
    }
