::-webkit-scrollbar {
        width: 3px;
        background-color: rgb(84, 84, 84);
        
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgb(34, 34, 34);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #ccc;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: white;
    }
    
    div.tooltip {
        position: absolute;
        text-align: center;
        width: 200px;
        height: 20px;
        padding: 2px;
        /*        font: 12px sans-serif;*/
        background: rgb(34, 34, 34);
        border: 1px;
        border-style: solid;
        border-color: #444 #444;
        /*        border-radius: 8px;*/
        pointer-events: none;
    }
    pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
       
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: #f9f9f9;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 100;
    outline: white;
    line-height: 25px;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 150px;
        margin: 0px;
        padding: 0px;
        background: none;
        color: #f9f9f9;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 100;
        outline: white;
        line-height: 25px;
    }
    
    #btnSearch {
        text-align: right;
        display: none;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    .imgHL {
        /*        margin-left: 3.5%;*/
        width: 47%;
        opacity: .85;
        /*        position: inline-block;*/
        float: left;
    }
    
    .imgHR {
        /*        margin-right: 4.5%;*/
        width: 47%;
        opacity: .85;
        padding-right: 4%;
        /*        position: inline-block;*/
        float: right;
    }
    
    .imgHR:hover,
    .imgHL:hover {
        opacity: 1;
    }
    
    .pageLoad {
        text-align: center;
        /*        margin-left: -2%;*/
        position: inline-block;
        float: left;
    }
    
    .text_over_imageL {
        position: inline-block;
        text-align: center;
        clear: left;
        margin: 1%;
        width: 100%;
    }
    
    .text_over_imageR {
        position: inline-block;
        text-align: center;
        clear: right;
        margin: 1%;
        width: 100%;
    }
    
    #clearer {
        position: relative;
        clear: both;
    }
    
    .graytext {
        color: gray;
        font-size: 15px;
    }
    
    .sb {
        text-align: left;
        background: #111111;
        font-size: 12px;
        opacity: 1;
        font-family: 'Open Sans';
    }
    
    body {
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        background-color: #f9f9f9;
        background-color: rgb(34, 34, 34);
        /*        background-color: black;*/
        color: #f9f9f9;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 100;
        line-height: 20px;
    }
    
    .titleDiv {
        padding-top: 20px;
        padding-left: 20px;
        /*        margin-top:20px;*/
        /*        margin-left:10px;*/
        width: 100%;
        height: 55px;
        background: rgb(34, 34, 34);
        position: fixed;
        top: 0px;
        z-index: 2;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
        border-bottom: 1px solid rgb(84, 84, 84);
    }
    
    .title {
        font-size: 26px;
/*        color: whitegray;*/
        vertical-align: middle;
        line-height: 10px;
        font-weight: 100;
    }
    
    b {
        font-weight: 100;
    }
    
    .container {
        z-index: 1;
        margin-top: 75px;
        width: 100%;
        height: 100%;
        /*        background: red;*/
        /*        position: fixed;*/
    }
    
    .left-element {
        /*        resize:horizontal;*/
        white-space: nowrap;
        margin-top: 0%;
/*        padding-top: 24px;*/
        display: inline-block;
        position: absolute;
        overflow: hidden;
        left: 0;
        width: 22%;
        /*        background: rgb(34, 34, 34);*/
        border-right: 1px solid rgb(84, 84, 84);
    }
    
    .right-element {
        left: 24%;
        padding-top: 24px;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        width: 76%;
        margin-left: 1%;
        /*        background: red;*/
        /*        display: inline-block;*/
        /*        position: fixed;*/
        /*        background: rgb(34,34,34);*/
        /*        padding-right:10%;*/
        /*        right:10%;*/
        /*        right: 100px;*/
    }
    
    div.left-element {
        height: 92.3%;
        /*        width: 40em;*/
        overflow: hidden;
    }
    
    div.left-element:hover {
        overflow: auto;
        overflow-x: hidden;
    }
    
    div.right-element {
        width: 75%;
        /*        margin-right:55%;*/
        height: 92%;
        overflow: scroll;
    }
    
    div.right-element:hover {
        /*        overflow: s;*/
    }
    
/*
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
                margin-right:5%;
        padding: 0;
*/
        
        
hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid rgb(84, 84, 84);
}
        
/*    }*/
    
    span {
        position: relative;
    }
    
    .outer {
        padding-right: 2%;
    }
    
    .imageTiles {
        /*        display:inline-block;*/
        vertical-align: middle;
        /*        padding-right:*/
        /*        padding-right: 15%;*/
        /*        padding-bottom: 4%;*/
        /*        padding-left:20%;*/
        /*        left: 50px;*/
        /*        margin-left: 20px;*/
    }
    
    .im:hover {
        cursor: pointer;
    }
    
    .nodeName {
        /*        margin-left: 20px;*/
        /*        margin-right: 50px;*/
        margin-top: 0px;
        font-size: 18px;
        font-weight: 100;
        padding-right: 4%;
    }
    
    .nodeDesc,
    .nodeHier,
    .nodeGroup,
    .nodeIn,
    .nodeOut,
    .exampleFile,
    .inDepth {
        /*        margin-left: 20px;*/
        line-height: 25px;
        font-size: 15px;
        font-weight: 100;
        padding-right: 4%;
        /*        padding-right: 4%;*/
    }
    
    .ins,
    .outs {
        /*        margin-left: 20px;*/
        font-size: 15px;
        padding-right: 4%;
    }
    
    .seeAlso {
        /*        margin-left: 20px;*/
        font-size: 15px;
        padding-right: 4%;
        /*    padding-top:25%;*/
    }
    
    u {
        text-decoration: none;
        border-bottom: 50px solid black;
    }
    
    .middle > * {
        vertical-align: middle;
    }
    
    icons {
        vertical-align: middle;
    }
    
    button.accordion,
    button.accordionM {
/*        height:28px;*/
        display: inline;
        cursor: pointer;
        padding: 0px;
        text-align: left;
        border: none;
        
/*        border-bottom: 1px dashed rgb(50, 50, 50);*/
        outline: none;
        transition: 0.3s ease-in-out;
        
        background-color: rgb(34, 34, 34);
        
        
    }
button.accordion.button2,button.accordion.button3,button.accordion.button4,button.accordion.button5{
    border-left: 1px solid rgb(84, 84, 84);
}
button.accordion.button2.active,button.accordion.button3.active,button.accordion.button4.active,button.accordion.button5.active{
    border-left: 8px solid rgb(84, 84, 84);
}
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*
.testborder{
   border-left: 10px solid rgb(84, 84, 84); 
}
*/
.buttonanim{
/*    height:40px;*/
}

button{
    color: white;
    color: #f9f9f9;
        font-family: 'Open Sans';
        font-weight: 100;
        line-height: 20px;
    
/*
    border: solid #fff;
border-width: 0 1px;
*/
    
}
    .button1,
    .button0 {
/*        border-left: 0px solid rgb(84, 84, 84);*/
/*        height:40px;*/
/*        height:2px;*/
/*        border-left: 0px solid rgb(84, 84, 84);*/
        color: white;
/*        border-bottom: none;*/
    }
    
    .button1.active,
    .button0.active {
/*        height:20px;*/
/*        border-bottom: 4px solid rgb(84, 84, 84);*/
/*       background-color: rgb(96, 96, 96); */
        border-left: 8px solid rgb(84, 84, 84);
    }
    
    .button1:hover,
    .button0:hover {
/*        margin-left:5%;*/
        background-color: rgb(96, 96, 96);
    }
    
    .button2 {
/*        height:0px;*/
        margin-left:5%;
/*        background-color: rgb(34, 34, 34);*/
    }
.button2.show{
    
}
    
    .button2.active {
    }
    
    .button2:hover {
/*        margin-left:10%;*/
        background-color: rgb(96, 96, 96);
/*        background-color:rgb(34, 34, 34);*/
    }
    
    .button3 {
        margin-left:10%;
/*        background-color: rgb(34, 34, 34);*/
    }
    
    .button3.active {
    }
    
    .button3:hover {
/*        margin-left:15%;*/
        background-color: rgb(96, 96, 96);
/*        background-color: rgb(34, 34, 34);*/
    }
    
    .button4 {
        margin-left:15%;
/*        background-color: rgb(34, 34, 34);*/
    }
    
    .button4.active {
    }
    
    .button4:hover {
/*        margin-left:20%;*/
        background-color: rgb(96, 96, 96);
/*        background-color: rgb(34, 34, 34);*/
    }
    
    .button5 {
        margin-left:20%;
/*        background-color:rgb(34, 34, 34);*/
    }
    
    .button5.active {
    }
    
    .button5:hover {
        margin-left:20%;
        background-color: rgb(96, 96, 96);
/*        background-color: rgb(34, 34, 34);*/
    }
    
    button.accordion:after {
        font-size: 6px;
        color: #fff;
        float: right;
        margin-left: 5px;
        z-index: 10;
    }
    
    button.accordion.active:after {}
    
    #load {
        display: none;
    }
    
    #wait {
        z-index:10;
/*        display:block;*/
        background-color: #222;
        width: 100%;
        height: 100%; 
/*        margin-top: 4.5%;*/
        position: absolute;
        top: 0;
        left: 0;
/*        text-align: center;*/
/*        padding-left: 4.5%;*/
/*        padding-top: 15%;*/
        opacity: 1;
        font-size: 18px;
        line-height: 0px;
    }
#wait p{
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }



    
    div.panel {
        padding: 0 0px;
        max-height: 0;
        overflow: hidden;
/*        opacity: 1;*/
/*        transition: max-height 1s linear;*/
    }
    
    div.panel.show {
/*        opacity: 1;*/
        max-height: 2500px;
        
        /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    }
    
    #title {
        margin-right: 20%;
        display: inline-block;
        margin-top: 0.5%;
        color: white;
    }
    
    #searchBar {
        float: left;
        margin-right: 3%;
    }
    
    input#searchBox {
        margin-left: 15px;
        background: #ffffff;
        border: 1px solid #555555;
        border-radius: 10px;
        color: #555555;
    }
